In [1]:
import numpy as np
import pandas as pd
import sys
import csv

csv.field_size_limit(1000000000000000000)

131072

In [2]:
master1 = pd.read_csv('mdrfoiThru2020 copy.txt', sep="|", header = 0, dtype=str, engine='python')

In [3]:
master1

,MDR_REPORT_KEY,EVENT_KEY,REPORT_NUMBER,REPORT_SOURCE_CODE,MANUFACTURER_LINK_FLAG_,NUMBER_DEVICES_IN_EVENT,NUMBER_PATIENTS_IN_EVENT,DATE_RECEIVED,ADVERSE_EVENT_FLAG,PRODUCT_PROBLEM_FLAG,...,MANUFACTURER_COUNTRY_CODE,MANUFACTURER_POSTAL_CODE,TYPE_OF_REPORT,SOURCE_TYPE,DATE_ADDED,DATE_CHANGED,REPORTER_COUNTRY_CODE,PMA_PMN_NUM,EXEMPTION_NUMBER,SUMMARY_REPORT
0,10,NaN,10,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,06/23/2020,NaN,NaN,NaN,N
1,11,NaN,11,U,N,NaN,NaN,03/10/1992,N,Y,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
2,12,NaN,12,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
3,13,NaN,13,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
4,14,NaN,14,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,06/27/2016,NaN,NaN,NaN,N
5,15,NaN,15,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
6,16,NaN,16,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
7,17,NaN,17,U,N,NaN,NaN,03/10/1992,N,Y,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
8,19,NaN,19,U,N,NaN,NaN,01/31/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
9,20,NaN,20,U,N,NaN,NaN,01/31/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
10,21,NaN,21,U,N,NaN,NaN,01/31/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
11,22,NaN,22,U,N,NaN,NaN,01/31/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
12,23,NaN,23,U,N,NaN,NaN,02/19/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
13,24,NaN,24,U,N,NaN,NaN,02/19/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N

In [17]:
master1[master1['MDR_REPORT_KEY']=='10']

,MDR_REPORT_KEY,EVENT_KEY,REPORT_NUMBER,REPORT_SOURCE_CODE,MANUFACTURER_LINK_FLAG_,NUMBER_DEVICES_IN_EVENT,NUMBER_PATIENTS_IN_EVENT,DATE_RECEIVED,ADVERSE_EVENT_FLAG,PRODUCT_PROBLEM_FLAG,...,MANUFACTURER_COUNTRY_CODE,MANUFACTURER_POSTAL_CODE,TYPE_OF_REPORT,SOURCE_TYPE,DATE_ADDED,DATE_CHANGED,REPORTER_COUNTRY_CODE,PMA_PMN_NUM,EXEMPTION_NUMBER,SUMMARY_REPORT
0,10,NaN,10,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,06/23/2020,NaN,NaN,NaN,N

In [7]:
master = pd.read_csv('mdrfoiThru2020.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
master1 = pd.read_csv('mdrfoiThru2020 copy.txt', sep="|", header = 0, dtype=str, engine='python')

In [8]:
master.head(10)

,MDR_REPORT_KEY,EVENT_KEY,REPORT_NUMBER,REPORT_SOURCE_CODE,MANUFACTURER_LINK_FLAG_,NUMBER_DEVICES_IN_EVENT,NUMBER_PATIENTS_IN_EVENT,DATE_RECEIVED,ADVERSE_EVENT_FLAG,PRODUCT_PROBLEM_FLAG,...,MANUFACTURER_COUNTRY_CODE,MANUFACTURER_POSTAL_CODE,TYPE_OF_REPORT,SOURCE_TYPE,DATE_ADDED,DATE_CHANGED,REPORTER_COUNTRY_CODE,PMA_PMN_NUM,EXEMPTION_NUMBER,SUMMARY_REPORT
0,10,NaN,10,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,06/23/2020,NaN,NaN,NaN,N
1,11,NaN,11,U,N,NaN,NaN,03/10/1992,N,Y,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
2,12,NaN,12,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
3,13,NaN,13,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
4,14,NaN,14,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,06/27/2016,NaN,NaN,NaN,N
5,15,NaN,15,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
6,16,NaN,16,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
7,17,NaN,17,U,N,NaN,NaN,03/10/1992,N,Y,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
8,19,NaN,19,U,N,NaN,NaN,01/31/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
9,20,NaN,20,U,N,NaN,NaN,01/31/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N

In [18]:
master[master['MDR_REPORT_KEY'] == '6298948']

,MDR_REPORT_KEY,EVENT_KEY,REPORT_NUMBER,REPORT_SOURCE_CODE,MANUFACTURER_LINK_FLAG_,NUMBER_DEVICES_IN_EVENT,NUMBER_PATIENTS_IN_EVENT,DATE_RECEIVED,ADVERSE_EVENT_FLAG,PRODUCT_PROBLEM_FLAG,...,MANUFACTURER_COUNTRY_CODE,MANUFACTURER_POSTAL_CODE,TYPE_OF_REPORT,SOURCE_TYPE,DATE_ADDED,DATE_CHANGED,REPORTER_COUNTRY_CODE,PMA_PMN_NUM,EXEMPTION_NUMBER,SUMMARY_REPORT
6004830,6298948,NaN,3009498591-2016-00673,M,Y,NaN,NaN,04/16/2020,N,N,...,NaN,NaN,I,NaN,02/02/2017,05/20/2020,NaN,NaN,NaN,N

In [12]:
master.shape

(10800979, 81)

In [19]:
for col in master.columns:
    print(col)

MDR_REPORT_KEY
EVENT_KEY
REPORT_NUMBER
REPORT_SOURCE_CODE
MANUFACTURER_LINK_FLAG_
NUMBER_DEVICES_IN_EVENT
NUMBER_PATIENTS_IN_EVENT
DATE_RECEIVED
ADVERSE_EVENT_FLAG
PRODUCT_PROBLEM_FLAG
DATE_REPORT
DATE_OF_EVENT
REPROCESSED_AND_REUSED_FLAG
REPORTER_OCCUPATION_CODE
HEALTH_PROFESSIONAL
INITIAL_REPORT_TO_FDA
DATE_FACILITY_AWARE
REPORT_DATE
REPORT_TO_FDA
DATE_REPORT_TO_FDA
EVENT_LOCATION
DATE_REPORT_TO_MANUFACTURER
MANUFACTURER_CONTACT_T_NAME
MANUFACTURER_CONTACT_F_NAME
MANUFACTURER_CONTACT_L_NAME
MANUFACTURER_CONTACT_STREET_1
MANUFACTURER_CONTACT_STREET_2
MANUFACTURER_CONTACT_CITY
MANUFACTURER_CONTACT_STATE
MANUFACTURER_CONTACT_ZIP_CODE
MANUFACTURER_CONTACT_ZIP_EXT
MANUFACTURER_CONTACT_COUNTRY
MANUFACTURER_CONTACT_POSTAL
MANUFACTURER_CONTACT_AREA_CODE
MANUFACTURER_CONTACT_EXCHANGE
MANUFACTURER_CONTACT_PHONE_NO
MANUFACTURER_CONTACT_EXTENSION
MANUFACTURER_CONTACT_PCOUNTRY
MANUFACTURER_CONTACT_PCITY
MANUFACTURER_CONTACT_PLOCAL
MANUFACTURER_G1_NAME
MANUFACTURER_G1_STREET_1
MANUFACTURER_G1_STREET_2
MANUFACTURER_G1_CITY
MANUFACTURER_G1_STATE_CODE
MANUFACTURER_G1_ZIP_CODE
MANUFACTURER_G1_ZIP_CODE_EXT
MANUFACTURER_G1_COUNTRY_CODE
MANUFACTURER_G1_POSTAL_CODE
DATE_MANUFACTURER_RECEIVED
DEVICE_DATE_OF_MANUFACTURE
SINGLE_USE_FLAG
REMEDIAL_ACTION
PREVIOUS_USE_CODE
REMOVAL_CORRECTION_NUMBER
EVENT_TYPE
DISTRIBUTOR_NAME
DISTRIBUTOR_ADDRESS_1
DISTRIBUTOR_ADDRESS_2
DISTRIBUTOR_CITY
DISTRIBUTOR_STATE_CODE
DISTRIBUTOR_ZIP_CODE
DISTRIBUTOR_ZIP_CODE_EXT
REPORT_TO_MANUFACTURER
MANUFACTURER_NAME
MANUFACTURER_ADDRESS_1
MANUFACTURER_ADDRESS_2
MANUFACTURER_CITY
MANUFACTURER_STATE_CODE
MANUFACTURER_ZIP_CODE
MANUFACTURER_ZIP_CODE_EXT
MANUFACTURER_COUNTRY_CODE
MANUFACTURER_POSTAL_CODE
TYPE_OF_REPORT
SOURCE_TYPE
DATE_ADDED
DATE_CHANGED
REPORTER_COUNTRY_CODE
PMA_PMN_NUM
EXEMPTION_NUMBER
SUMMARY_REPORT

In [20]:
device1 = pd.read_csv('DEVICE2020 copy.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)

In [21]:
device1

,MDR_REPORT_KEY,DEVICE_EVENT_KEY,IMPLANT_FLAG,DATE_REMOVED_FLAG,DEVICE_SEQUENCE_NO,DATE_RECEIVED,BRAND_NAME,GENERIC_NAME,MANUFACTURER_D_NAME,MANUFACTURER_D_ADDRESS_1,...,MODEL_NUMBER,CATALOG_NUMBER,LOT_NUMBER,OTHER_ID_NUMBER,DEVICE_AVAILABILITY,DATE_RETURNED_TO_MANUFACTURER,DEVICE_REPORT_PRODUCT_CODE,DEVICE_AGE_TEXT,DEVICE_EVALUATED_BY_MANUFACTUR,COMBINATION_PRODUCT_FLAG
0,6298948,NaN,NaN,NaN,1,2020/04/16,NaN,DIAGNOSTIC ULTRASOUND DEVICE,NaN,NaN,...,NaN,NaN,NaN,NaN,*,NaN,IYN,NaN,*,N
1,7982437,NaN,NaN,NaN,1,2020/07/10,NITINOL STAPLE,NITINOL STAPLE,"TRIMED, INC.",27533 AVENUE HOPKINS,...,ES-10X10,ES-10X10,317003,NaN,N,NaN,JDR,NaN,R,N
2,9537111,NaN,NaN,NaN,1,2020/01/01,SIMPLY LEGACY 2 IMPLANT,DENTAL IMPLANT,IMPLANT DIRECT SYBRON MANUFACTURING LLC,3050 EAST HILLCREST DRIVE,...,NaN,824211U,144577,NaN,Y,NaN,DZE,NaN,N,N
3,9537112,NaN,NaN,NaN,1,2020/01/01,STERLING,"CATHETER, PERCUTANEOUS",BOSTON SCIENTIFIC CORPORATION,TWO SCIMED PLACE,...,24690,24690,0022221239,NaN,N,NaN,DQY,DA,R,N
4,9537113,NaN,NaN,NaN,1,2020/01/01,MUSTANG,"CATHETER, BILIARY, DIAGNOSTIC",BOSTON SCIENTIFIC CORPORATION,TWO SCIMED PLACE,...,24674,24674,0023246409,NaN,R,2020/02/05,FGE,DA,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,9537219,NaN,NaN,NaN,1,2020/01/01,ASTRAL 100 - AMER,NaN,RESMED LTD,1 ELIZABETH MACARTHUR DRIVE.,...,27001,27001,NaN,NaN,N,NaN,CBK,NaN,*,N
111,9537220,NaN,NaN,NaN,1,2020/01/01,ASTRAL 100 - AMER,NaN,RESMED LTD,1 ELIZABETH MACARTHUR DRIVE.,...,27001,27001,NaN,NaN,N,NaN,CBK,22 MO,*,N
112,9537221,NaN,NaN,NaN,1,2020/01/01,COMBI SET,"SET, TUBING, BLOOD, WITH AND WITHOUT ANTI-REGU...","ERIKA DE REYNOSA, S.A. DE C.V.",MIKE ALLEN #1331,...,03-2622-3,03-2622-3,19JR01073,NaN,N,NaN,FJK,MO,R,N
113,9537222,NaN,NaN,NaN,1,2020/01/01,SURESCAN,"STIMULATOR, SPINAL-CORD, TOTALLY IMPLANTED FOR...",MEDTRONIC PUERTO RICO OPERATIONS CO.,"ROAD 31, KM. 24, HM 4",...,97714,97714,NaN,NaN,N,NaN,LGW,DA,*,N
114,9537223,NaN,NaN,NaN,1,2020/01/01,TENDRIL STS,PERMANENT PACEMAKER ELECTRODE,"ST. JUDE MEDICAL, INC.(CRM-SUNNYVALE)",645 ALMANOR AVENUE,...,2088TC/58,2088TC-58,P000089806,NaN,R,2019/12/27,NVN,DA,Y,N

In [32]:
master.to_pickle("./master.pkl")

In [34]:
master2 = pd.read_pickle("./master.pkl")

In [35]:
master2.head()

,MDR_REPORT_KEY,EVENT_KEY,REPORT_NUMBER,REPORT_SOURCE_CODE,MANUFACTURER_LINK_FLAG_,NUMBER_DEVICES_IN_EVENT,NUMBER_PATIENTS_IN_EVENT,DATE_RECEIVED,ADVERSE_EVENT_FLAG,PRODUCT_PROBLEM_FLAG,...,MANUFACTURER_COUNTRY_CODE,MANUFACTURER_POSTAL_CODE,TYPE_OF_REPORT,SOURCE_TYPE,DATE_ADDED,DATE_CHANGED,REPORTER_COUNTRY_CODE,PMA_PMN_NUM,EXEMPTION_NUMBER,SUMMARY_REPORT
0,10,NaN,10,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,06/23/2020,NaN,NaN,NaN,N
1,11,NaN,11,U,N,NaN,NaN,03/10/1992,N,Y,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
2,12,NaN,12,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
3,13,NaN,13,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,03/19/1992,NaN,NaN,NaN,N
4,14,NaN,14,U,N,NaN,NaN,03/10/1992,Y,N,...,NaN,NaN,I,NaN,03/19/1992,06/27/2016,NaN,NaN,NaN,N

In [36]:
pd.merge(master2, device1, on="MDR_REPORT_KEY")

,MDR_REPORT_KEY,EVENT_KEY,REPORT_NUMBER,REPORT_SOURCE_CODE,MANUFACTURER_LINK_FLAG_,NUMBER_DEVICES_IN_EVENT,NUMBER_PATIENTS_IN_EVENT,DATE_RECEIVED_x,ADVERSE_EVENT_FLAG,PRODUCT_PROBLEM_FLAG,...,MODEL_NUMBER,CATALOG_NUMBER,LOT_NUMBER,OTHER_ID_NUMBER,DEVICE_AVAILABILITY,DATE_RETURNED_TO_MANUFACTURER,DEVICE_REPORT_PRODUCT_CODE,DEVICE_AGE_TEXT,DEVICE_EVALUATED_BY_MANUFACTUR,COMBINATION_PRODUCT_FLAG
0,6298948,NaN,3009498591-2016-00673,M,Y,NaN,NaN,04/16/2020,N,N,...,NaN,NaN,NaN,NaN,*,NaN,IYN,NaN,*,N
1,7982437,NaN,2031009-2018-00026,M,Y,NaN,NaN,07/10/2020,Y,N,...,ES-10X10,ES-10X10,317003,NaN,N,NaN,JDR,NaN,R,N
2,9537111,NaN,3001617766-2019-06390,M,Y,NaN,NaN,01/01/2020,Y,N,...,NaN,824211U,144577,NaN,Y,NaN,DZE,NaN,N,N
3,9537112,NaN,2134265-2019-16297,M,Y,NaN,NaN,01/01/2020,N,Y,...,24690,24690,0022221239,NaN,N,NaN,DQY,DA,R,N
4,9537113,NaN,2134265-2019-16283,M,Y,NaN,NaN,01/01/2020,N,Y,...,24674,24674,0023246409,NaN,R,2020/02/05,FGE,DA,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,9537219,NaN,3004604967-2020-00002,M,Y,NaN,NaN,01/01/2020,N,Y,...,27001,27001,NaN,NaN,N,NaN,CBK,NaN,*,N
111,9537220,NaN,3007573469-2020-00002,D,N,NaN,NaN,01/01/2020,N,Y,...,27001,27001,NaN,NaN,N,NaN,CBK,22 MO,*,N
112,9537221,NaN,8030665-2020-00002,M,Y,NaN,NaN,01/01/2020,N,Y,...,03-2622-3,03-2622-3,19JR01073,NaN,N,NaN,FJK,MO,R,N
113,9537222,NaN,3004209178-2020-00002,M,Y,NaN,NaN,01/01/2020,Y,Y,...,97714,97714,NaN,NaN,N,NaN,LGW,DA,*,N
114,9537223,NaN,2938836-2019-17570,M,Y,NaN,NaN,01/01/2020,N,Y,...,2088TC/58,2088TC-58,P000089806,NaN,R,2019/12/27,NVN,DA,Y,N

In [37]:
device = pd.read_csv('DEVICE2020.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)

In [38]:
text = pd.read_csv('foitext2020.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)

In [39]:
device.to_pickle("./device.pkl")
text.to_pickle("./text.pkl")

In [40]:
device.head(10)

,MDR_REPORT_KEY,DEVICE_EVENT_KEY,IMPLANT_FLAG,DATE_REMOVED_FLAG,DEVICE_SEQUENCE_NO,DATE_RECEIVED,BRAND_NAME,GENERIC_NAME,MANUFACTURER_D_NAME,MANUFACTURER_D_ADDRESS_1,...,MODEL_NUMBER,CATALOG_NUMBER,LOT_NUMBER,OTHER_ID_NUMBER,DEVICE_AVAILABILITY,DATE_RETURNED_TO_MANUFACTURER,DEVICE_REPORT_PRODUCT_CODE,DEVICE_AGE_TEXT,DEVICE_EVALUATED_BY_MANUFACTUR,COMBINATION_PRODUCT_FLAG
0,6298948,NaN,NaN,NaN,1,2020/04/16,NaN,DIAGNOSTIC ULTRASOUND DEVICE,NaN,NaN,...,NaN,NaN,NaN,NaN,*,NaN,IYN,NaN,*,N
1,7982437,NaN,NaN,NaN,1,2020/07/10,NITINOL STAPLE,NITINOL STAPLE,"TRIMED, INC.",27533 AVENUE HOPKINS,...,ES-10X10,ES-10X10,317003,NaN,N,NaN,JDR,NaN,R,N
2,9537111,NaN,NaN,NaN,1,2020/01/01,SIMPLY LEGACY 2 IMPLANT,DENTAL IMPLANT,IMPLANT DIRECT SYBRON MANUFACTURING LLC,3050 EAST HILLCREST DRIVE,...,NaN,824211U,144577,NaN,Y,NaN,DZE,NaN,N,N
3,9537112,NaN,NaN,NaN,1,2020/01/01,STERLING,"CATHETER, PERCUTANEOUS",BOSTON SCIENTIFIC CORPORATION,TWO SCIMED PLACE,...,24690,24690,0022221239,NaN,N,NaN,DQY,DA,R,N
4,9537113,NaN,NaN,NaN,1,2020/01/01,MUSTANG,"CATHETER, BILIARY, DIAGNOSTIC",BOSTON SCIENTIFIC CORPORATION,TWO SCIMED PLACE,...,24674,24674,0023246409,NaN,R,2020/02/05,FGE,DA,Y,N
5,9537114,NaN,NaN,NaN,1,2020/01/01,NC EMERGE,"CATHETERS, TRANSLUMINAL CORONARY ANGIOPLASTY, ...",BOSTON SCIENTIFIC CORPORATION,TWO SCIMED PLACE,...,7313,7313,0023171810,NaN,N,NaN,LOX,NaN,R,N
6,9537115,NaN,NaN,NaN,1,2020/01/01,ZEVO ANTERIOR CERVICAL PLATE SYSTEM,"APPLIANCE, FIXATION, SPINAL INTERVERTEBRAL BODY",WARSAW ORTHOPEDICS,2500 SILVEUS CROSSING,...,NaN,G3001019,0595781W,NaN,N,NaN,KWQ,NaN,N,N
7,9537116,NaN,NaN,NaN,1,2020/01/01,"DURATA STS OPTIM ACTIVE FIXATION, DF-4 CONNECTOR",DEFIBRILLATION LEAD,"ST. JUDE MEDICAL, INC.(CRM-SUNNYVALE)",645 ALMANOR AVENUE,...,7121Q/58,NaN,3298130,NaN,N,NaN,NVY,NaN,R,N
8,9537117,NaN,NaN,NaN,1,2020/01/01,TENDRIL STS,PERMANENT PACEMAKER ELECTRODE,"ST. JUDE MEDICAL, INC.(CRM-SUNNYVALE)",645 ALMANOR AVENUE,...,2088TC/52,2088TC-52,P000084099,NaN,R,2020/01/28,NVN,DA,Y,N
9,9537118,NaN,NaN,NaN,1,2020/01/01,AIR OPTIX NIGHT & DAY AQUA,"LENSES, SOFT CONTACT, DAILY WEAR",PT. CIBA VISION BATAM,BERINGIN KAV. #204 BATAMINDO,...,NaN,CBV92002040,31369413,NaN,R,2020/01/02,LPL,DA,Y,N

In [41]:
text.head(10)

,MDR_REPORT_KEY,MDR_TEXT_KEY,TEXT_TYPE_CODE,PATIENT_SEQUENCE_NUMBER,DATE_REPORT,FOI_TEXT
0,9537171,173269159,N,1,NaN,THE RESULTS OF THE INVESTIGATION ARE INCONCLUS...
1,9537171,173269160,D,1,NaN,IT WAS REPORTED THAT THE PATIENT EXPIRED. THER...
2,9537125,173269515,N,1,NaN,INVESTIGATION RESULTS WILL BE PROVIDED IN THE ...
3,9537125,173269516,D,1,NaN,IT WAS REPORTED THAT THE PATIENT CALLED EMERGE...
4,9537119,173269518,N,1,NaN,THE RESULTS OF THE INVESTIGATION ARE INCONCLUS...
5,9537119,173269519,D,1,NaN,IT WAS REPORTED THAT HIGH ATRIAL CAPTURE THRES...
6,9537209,173269527,N,1,NaN,DATE OF EVENT AND THERAPY DATE IS ESTIMATED. T...
7,9537209,173269528,D,1,NaN,RELATED MANUFACTURER REFERENCE NUMBERS: 300670...
8,9537210,173269533,N,1,NaN,DATE OF EVENT AND THERAPY DATE IS ESTIMATED. T...
9,9537210,173269534,D,1,NaN,RELATED MANUFACTURER REFERENCE NUMBERS: 300670...

In [45]:
df1 = pd.merge(master, device, on="MDR_REPORT_KEY")

In [50]:
df2 = pd.merge(df1, text, on='MDR_REPORT_KEY')

In [49]:
df1.shape

(1567307, 109)

In [51]:
df2.to_pickle("./df2.pkl")

In [1]:
df2.head()

NameError: name 'df2' is not defined