In [3]:
import numpy as np
import pandas as pd
import numpy as np
import pandas as pd
import sys
import csv
import functools
from functools import reduce

csv.field_size_limit(1000000000000000000)

1000000000000000000

In [4]:
# import yearly device files
device2013 = pd.read_csv('DEVICE2013.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#device2014 = pd.read_csv('DEVICE2014.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#device2015 = pd.read_csv('DEVICE2015.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#device2016 = pd.read_csv('DEVICE2016.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#device2017 = pd.read_csv('DEVICE2017.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#device2018 = pd.read_csv('DEVICE2018.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#device2019 = pd.read_csv('DEVICE2019.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#device2020 = pd.read_csv('DEVICE2020.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)

In [6]:
# merge yearly device files
DEVICE = device2013
deviceYearlyFiles = [device2014,device2015,device2016,device2017,device2018,device2019,
          device2020]
for yearlyFile in deviceYearlyFiles:
    DEVICE = DEVICE.append(yearlyFile)

In [7]:
DEVICE.shape

(8166886, 29)

In [5]:
# import yearly text files
foitext2013 = pd.read_csv('foitext2013.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#foitext2014 = pd.read_csv('foitext2014.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#foitext2015 = pd.read_csv('foitext2015.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#foitext2016 = pd.read_csv('foitext2016.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#foitext2017 = pd.read_csv('foitext2017.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#foitext2018 = pd.read_csv('foitext2018.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#foitext2019 = pd.read_csv('foitext2019.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)
#foitext2020 = pd.read_csv('foitext2020.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)

In [9]:
# merge yearly text files
FOITEXT = foitext2013
foitextYearlyFiles = [foitext2014,foitext2015,foitext2016,foitext2017,foitext2018,foitext2019,
          foitext2020]
for yearlyFile in foitextYearlyFiles:
    FOITEXT = FOITEXT.append(yearlyFile)

In [11]:
FOITEXT.shape

(18510532, 6)

In [6]:
# import patient file
PATIENT = pd.read_csv('patientThru2020.txt', sep="|", header = 0, dtype=str, engine='python', quoting=3)

In [7]:
PATIENT.shape

(10803960, 5)

In [8]:
# import the master file from a pervious pickle
MASTER = pd.read_pickle("./master.pkl")

In [9]:
MASTER.shape

(10800979, 81)

In [10]:
allData = pd.merge(MASTER, device2013, on="MDR_REPORT_KEY")
allData = pd.merge(allData, foitext2013, on="MDR_REPORT_KEY")
allData = pd.merge(allData, PATIENT, on="MDR_REPORT_KEY")
allData.shape

(1612792, 118)

In [41]:
allData.head(5)

,MDR_REPORT_KEY,EVENT_KEY,REPORT_NUMBER,REPORT_SOURCE_CODE,MANUFACTURER_LINK_FLAG_,NUMBER_DEVICES_IN_EVENT,NUMBER_PATIENTS_IN_EVENT,DATE_RECEIVED_x,ADVERSE_EVENT_FLAG,PRODUCT_PROBLEM_FLAG,...,COMBINATION_PRODUCT_FLAG,MDR_TEXT_KEY,TEXT_TYPE_CODE,PATIENT_SEQUENCE_NUMBER_x,DATE_REPORT_y,FOI_TEXT,PATIENT_SEQUENCE_NUMBER_y,DATE_RECEIVED,SEQUENCE_NUMBER_TREATMENT,SEQUENCE_NUMBER_OUTCOME
0,2891923,NaN,3008382007-2012-09245,M,Y,NaN,NaN,01/01/2013,N,Y,...,N,16750885,D,1,NaN,"ON (B)(6) 2012, THE LAY USER/ PATIENT CONTACTE...",1,01/01/2013,NaN,NaN
1,2891924,NaN,3008382007-2012-09244,M,Y,NaN,NaN,01/01/2013,N,Y,...,N,3103612,D,1,NaN,"ON (B)(6) 2012, THE REPORTER CONTACTED LIFESCA...",1,01/01/2013,NaN,NaN
2,2891925,NaN,3008382007-2012-09241,M,Y,NaN,NaN,01/01/2013,N,Y,...,N,10846233,N,1,NaN,(B)(4): THE METER WAS FOUND TO HAVE A DATA COR...,1,01/01/2013,NaN,NaN
3,2891925,NaN,3008382007-2012-09241,M,Y,NaN,NaN,01/01/2013,N,Y,...,N,19198445,D,1,NaN,"ON (B)(6) 2012, THE REPORTER CONTACTED LIFESCA...",1,01/01/2013,NaN,NaN
4,2891926,NaN,3008382007-2012-09240,M,Y,NaN,NaN,01/01/2013,N,Y,...,N,10793991,N,1,NaN,(B)(4): THE METER WAS FOUND TO HAVE A DATA COR...,1,01/01/2013,NaN,NaN

In [25]:
# messing around with random reports, found one made by Medtronic
allData['MANUFACTURER_D_NAME'][323413]

'MEDTRONIC CARDIOVASCULAR'

In [34]:
allData.iloc[323413]['FOI_TEXT']

"(B)(4). EVALUATION METHOD: (FILM). EVALUATION RESULTS: INHERENT RISK OF PROCEDURE (STENT GRAFT MIGRATION, ENDOLEAK). PATIENT'S CONDITION AFFECTED EFFECTIVENESS OF DEVICE (AORTIC NECK DILATATION, ANGULATION AND DISEASE PROGRESSION). EVALUATION CONCLUSION: DEVICE FAILURE/LACK OF EFFECTIVENESS RELATED TO PATIENT CONDITION (AORTIC NECK DILATATION, ANGULATION AND DISEASE PROGRESSION)."

In [107]:
# keep only MDRs of devices made by medtronic, around 9.63% of previous reports
allData["MEDTRONIC_MADE"] = pd.DataFrame(allData['MANUFACTURER_D_NAME'].str.contains('MEDTRONIC', regex=False))
allData[allData["MEDTRONIC_MADE"] == True].shape

<ipython-input-107-51cc1e985282>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allData["MEDTRONIC_MADE"] = pd.DataFrame(allData['MANUFACTURER_D_NAME'].str.contains('MEDTRONIC', regex=False))

(155275, 119)

In [109]:
allData = allData[allData["MEDTRONIC_MADE"] == True]
allData.shape

(155275, 119)

In [115]:
# select entries with the product code found within "cohort one"
dfLWS = allData[allData['DEVICE_REPORT_PRODUCT_CODE']=='LWS']
dfMRM = allData[allData['DEVICE_REPORT_PRODUCT_CODE']=='MRM']
dfNIK = allData[allData['DEVICE_REPORT_PRODUCT_CODE']=='NIK']
dfNVY = allData[allData['DEVICE_REPORT_PRODUCT_CODE']=='NVY']    

allData = pd.concat([dfLWS, dfMRM, dfNIK, dfNVY])
allData.shape

(15569, 119)

In [116]:
# create a file with all the entries with a shared MDR_REPORT_KEY
allDatawdupes = allData[allData.duplicated(['MDR_REPORT_KEY'])]

# remove duplicate files from the DEVICE df, as they might hamper with the the data
allData = pd.concat([allData, allDatawdupes]).drop_duplicates(keep=False)
allData.shape

(5565, 119)

In [129]:
# remove all reports with a PATIENT_SEQUENCE NUMBER =/ 1
allData = allData[allData['PATIENT_SEQUENCE_NUMBER_y']=='1']
allData.shape

(5565, 119)

In [130]:
# delete all reports with a FOI_TEXT value with 10 or less characters
def deleteNull(df):
    for ind in df.index:
        if len(df['FOI_TEXT'][ind]) <11:
            df.drop(labels=[ind],axis=0,inplace=True)
            
deleteNull(allData)
allData.shape

(5546, 119)

In [123]:
list(allDatawdupes[allDatawdupes['MDR_REPORT_KEY']=='2893293']['FOI_TEXT'])

['IT WAS REPORTED THAT THE PATIENT WENT INTO A SUPRA VENTRICULAR TACHYCARDIA (SVT) DURING INTERCOURSE AND THE DEVICE AND RIGHT VENTRICLE ULAR (RV) LEAD STARTED T-WAVE OVERSENSING (TWOS). THIS RESULTED IN AN INAPPROPRIATE SHOCK FOR THE PATIENT. THE DEVICE WAS REPROGRAMMED AND BOTH THE IMPLANTABLE CARDIOVERTER DEFIBRILLATOR (ICD)� AND RIGHT VENTRICULAR (RV) LEAD REMAIN IN USE. NO FURTHER PATIENT COMPLICATIONS HAVE BEEN REPORTED AS A RESULT OF THIS EVENT.',
 '(B)(4).',
 'PRODUCT EVENT SUMMARY #THE DEVICE WAS NOT RETURNED FOR ANALYSIS. HOWEVER, PERFORMANCE DATA COLLECTED FROM THE DEVICE WAS RECEIVED AND ANALYZED. ANALYSIS OF THE DATA SHOWED OVERSENSING ON THE VENTRICULAR CHANNEL.',
 'IF INFORMATION IS PROVIDED IN THE FUTURE, A SUPPLEMENTAL REPORT WILL BE ISSUED.',
 'IT WAS FURTHER REPORTED THAT THE RIGHT VENTRICULAR (RV) LEAD EXHIBITED HIGH RIGHT VENTRICULAR AND SUPERIOR VENA CAVA (SVC) DEFIBRILLATION IMPEDANCE AS WELL AS NOISE. THE IMPLANTABLE CARDIOVERTER DEFIBRILLATOR (ICD)�AND RV LEAD WERE EXPLANTED AND REPLACED.',
 'IF INFORMATION IS PROVIDED IN THE FUTURE, A SUPPLEMENTAL REPORT WILL BE ISSUED.',
 'PRODUCT EVENT SUMMARY: THE DEVICE WAS RETURNED AND ANALYZED. RETURNED PRODUCT ANALYSIS WAS PERFORMED AND NO ANOMALIES WERE FOUND. IF INFORMATION IS PROVIDED IN THE FUTURE, A SUPPLEMENTAL REPORT WILL BE ISSUED.']

In [124]:
allDatawdupes[allDatawdupes['MDR_REPORT_KEY']=='2893293']

,MDR_REPORT_KEY,EVENT_KEY,REPORT_NUMBER,REPORT_SOURCE_CODE,MANUFACTURER_LINK_FLAG_,NUMBER_DEVICES_IN_EVENT,NUMBER_PATIENTS_IN_EVENT,DATE_RECEIVED_x,ADVERSE_EVENT_FLAG,PRODUCT_PROBLEM_FLAG,...,MDR_TEXT_KEY,TEXT_TYPE_CODE,PATIENT_SEQUENCE_NUMBER_x,DATE_REPORT_y,FOI_TEXT,PATIENT_SEQUENCE_NUMBER_y,DATE_RECEIVED,SEQUENCE_NUMBER_TREATMENT,SEQUENCE_NUMBER_OUTCOME,MEDTRONIC_MADE
1845,2893293,NaN,3004209178-2013-00046,M,Y,NaN,NaN,01/02/2013,Y,Y,...,3174982,D,1,NaN,IT WAS REPORTED THAT THE PATIENT WENT INTO A S...,1,01/02/2013,NaN,1. H; 2. L; 3. R,True
1846,2893293,NaN,3004209178-2013-00046,M,Y,NaN,NaN,01/02/2013,Y,Y,...,10367716,N,1,NaN,(B)(4).,1,01/02/2013,NaN,1. H; 2. L; 3. R,True
1847,2893293,NaN,3004209178-2013-00046,M,Y,NaN,NaN,01/02/2013,Y,Y,...,10548440,N,1,NaN,PRODUCT EVENT SUMMARY #THE DEVICE WAS NOT RETU...,1,01/02/2013,NaN,1. H; 2. L; 3. R,True
1848,2893293,NaN,3004209178-2013-00046,M,Y,NaN,NaN,01/02/2013,Y,Y,...,167509290,N,1,NaN,"IF INFORMATION IS PROVIDED IN THE FUTURE, A SU...",1,01/02/2013,NaN,1. H; 2. L; 3. R,True
1849,2893293,NaN,3004209178-2013-00046,M,Y,NaN,NaN,01/02/2013,Y,Y,...,167509291,D,1,NaN,IT WAS FURTHER REPORTED THAT THE RIGHT VENTRIC...,1,01/02/2013,NaN,1. H; 2. L; 3. R,True
1850,2893293,NaN,3004209178-2013-00046,M,Y,NaN,NaN,01/02/2013,Y,Y,...,167509312,N,1,NaN,"IF INFORMATION IS PROVIDED IN THE FUTURE, A SU...",1,01/02/2013,NaN,1. H; 2. L; 3. R,True
1851,2893293,NaN,3004209178-2013-00046,M,Y,NaN,NaN,01/02/2013,Y,Y,...,170795613,N,1,NaN,PRODUCT EVENT SUMMARY: THE DEVICE WAS RETURNED...,1,01/02/2013,NaN,1. H; 2. L; 3. R,True